<div class="entity-card-wrapper">
    <div class="title-header">
        <h4><kendo-svg-icon [icon]="folderAddIcon"></kendo-svg-icon><a href="#">Bella Terra</a></h4>
        <div class="action-right">
            <p>Property  <button kendoButton [svgIcon]="pencilIcon" class="cr-green"></button></p>
           
        </div>
    </div>
    <div class="title-content">
        <div class="row-content sub-section-header">
            <h4>Location</h4>
            <div class="para-section w-50">
                <h6>7777 Edinger Avenue, Huntington Beach, CA 92647</h6>
            </div>
            <div class="para-section w-50">
                <p>CBSA</p>
                <h6>Los-Angeles– Long Beach, CA</h6>
            </div>
        </div>
       
        <div class="row-content sub-section-header">
            <h4>Classification</h4>
            <div class="para-section w-50">
                <p>Reported Property Type</p>
                <h6>Retail — Fashion/Specialty Center</h6>
            </div>
            <div class="para-section w-50">
                <p>NCREIF Property Type</p>
                <h6>LRetail — Fashion/Specialty Center</h6>
            </div>
        </div>

        <div class="row-content sub-section-header">
            <h4>Property Characteristics</h4>
            <div class="para-section w-50">
                <p>Gross Size</p>
                <h6>688,255 SF</h6>
            </div>
            <div class="para-section w-50">
                <p>Net Size</p>
                <h6>688,255 SF</h6>
            </div>
        </div>

        <div class="row-content sub-section-header">
            <h4>Consolidated Joint Ownership: 65% </h4>
            <div class="para-section w-50">
                <p>Gross Commitment</p>
                <h6>$386,200,000</h6>
            </div>
            <div class="para-section w-50">
                <p>Total Net Commitment</p>
                <h6>$269,900,000</h6>
            </div>
        </div>

        <div class="row-content sub-section-header">
            <h4>Transactions</h4>
            <div class="para-section w-50">
                <p>Purchase Price</p>
                <h6>$386,200,000</h6>
            </div>
            <div class="para-section w-50">
                <p>Purchase Date</p>
                <h6>April 1, 2015</h6>
            </div>
        </div>
    </div>
</div>
