<div class="home-banner-wrapper">
    <app-breadcrum />
    <div class="section-header br-white-bottom">
        <h1>Bella Terra</h1>
        <div class="para-section">
            <p>Fund</p>
            <h6>PRISA</h6>
        </div>
        <div class="para-section">
            <p>Asset Status</p>
            <h6>Active</h6>
        </div>
        <div class="para-section">
            <p>Deal Stage</p>
            <h6>Closed</h6>
        </div>
        <div class="para-section">
            <p>Lifecycle Status</p>
            <h6>Operating/Stabilized</h6>
        </div>
        <div class="para-section">
            <p>Risk Profile</p>
            <h6>Stabilized</h6>
        </div>
        <div class="action-right-btn">
            <app-button-icon />
        </div>
    </div>
    <div class="sub-section-container">
        <div class="map-section">
            <app-map />
        </div>
        <div class="sub-section-wrapper">
            <div class="sub-section-header mg-bottom-1">
                <h3>Classification</h3>
                <div class="para-section">
                    <p>NCREIF Division</p>
                    <h6>Pacific</h6>
                </div>
                <div class="para-section">
                    <p>Sectors</p>
                    <h6>Retail</h6>
                </div>
                <div class="para-section">
                    <p>Reported Property Types</p>
                    <h6>Retail — Fashion/Specialty Center, Retail — Grocery</h6>
                </div>
                <div class="para-section">
                    <p>NCRIEF  Property Types</p>
                    <h6>Retail — Fashion/Specialty Center, Retail — Grocery</h6>
                </div>
            </div>
        
            <div class="sub-section-header">
                <h3>Transactions</h3>
                <div class="para-section">
                    <p>Purchase Date</p>
                    <h6>April 1, 2015</h6>
                </div>
                <div class="para-section">
                    <p>Purchase Price</p>
                    <h6>$386,200,000</h6>
                </div>
            </div>
        </div>
        
    </div>
</div>

