<div class="home-banner-wrapper">
    <app-breadcrum-property />
    <div class="section-header br-white-bottom">
        <h1>Bella Terra</h1>
        <div class="para-section">
            <p>Fund</p>
            <h6>PRISA</h6>
        </div>
        <div class="para-section">
            <p>Asset</p>
            <h6><a href="#">Bella Terra</a></h6>
        </div>
        <div class="para-section">
            <p>Asset Status</p>
            <h6>Active</h6>
        </div>
        <div class="para-section">
            <p>Deal Stage</p>
            <h6>Closed</h6>
        </div>
        <div class="para-section">
            <p>Lifecycle Status</p>
            <h6>Operating/Stabilized</h6>
        </div>
        <div class="para-section">
            <p>Risk Profile</p>
            <h6>Stabilized</h6>
        </div>
        <div class="action-right-btn">
            <app-button-icon />
        </div>
    </div>
    <div class="sub-section-container">
        <div class="map-section">
            <app-map />
        </div>
        <div class="sub-section-wrapper">
            <div class="row-content sub-section-header mg-bottom-1">
                <h3>Location</h3>
                <div class="para-section w-50">
                    <h6>7777 Edinger Avenue, Huntington Beach, CA 92647</h6>
                </div>
                <div class="para-section w-50">
                    <p>Country</p>
                    <h6>Orange County</h6>
                </div>
                <div class="para-section">
                    <p>CBSA</p>
                    <h6>Los-Angeles– Long Beach, CA</h6>
                </div>
            </div>
        
            <div class="row-content sub-section-header">
                <h3>Property Characteristics</h3>
                <div class="para-section w-25">
                    <p>Gross Size</p>
                    <h6>688,255 SF</h6>
                </div>
                <div class="para-section w-25">
                    <p>Net Size</p>
                    <h6>688,255 SF</h6>
                </div>
                <div class="para-section w-25">
                    <p>Buildings</p>
                    <h6>10</h6>
                </div>
                <div class="para-section w-25">
                    <p>Land</p>
                    <h6>10 Acres</h6>
                </div>
                <div class="para-section w-25">
                    <p>Property Class</p>
                    <h6>A</h6>
                </div>
                <div class="para-section w-25">
                    <p>Property Rank</p>
                    <h6>A</h6>
                </div>
            </div>

            <div class="row-content sub-section-header">
                <h3>Classification</h3>
                <button kendoButton class="cr-yellow section-btn">View All</button>
                <div class="para-section">
                    <p>Reported Property Type</p>
                    <h6>Retail — Fashion/Specialty Center</h6>
                </div>
                <div class="para-section">
                    <p>NCREIF Property Type</p>
                    <h6>Retail — Fashion/Specialty Center</h6>
                </div>
            </div>

            <div class="row-content sub-section-header">
                <h3>Consolidated Joint Venture: 65%</h3>
                <div class="para-section w-30">
                    <p>Gross Commitment</p>
                    <h6>$386,200,000</h6>
                </div>
                <div class="para-section w-30">
                    <p>Total Net Commitment</p>
                    <h6>$269,900,000</h6>
                </div>
                <div class="para-section w-30">
                    <p>Buildings</p>
                    <h6>10</h6>
                </div>
            </div>

            <div class="row-content sub-section-header">
                <h3>Transactions</h3>
                <div class="para-section w-50">
                    <p>Purchase Price</p>
                    <h6>$386,200,000</h6>
                </div>
                <div class="para-section w-50">
                    <p>Purchase Date</p>
                    <h6>April 1, 2015</h6>
                </div>
            </div>
        </div>
        
    </div>
</div>

