<div class="entity-card-wrapper">
    <div class="title-header bg-green">
        <h4><kendo-svg-icon [icon]="homeIcon"></kendo-svg-icon><a href="#">Bella Terra</a></h4>
        <div class="action-right">
            <p>Building  <button kendoButton [svgIcon]="pencilIcon" class="cr-green"></button></p>
           
        </div>
    </div>
    <div class="title-content">
        <div class="row-content sub-section-header w-18">
            <h4>Location</h4>
            <div class="para-section">
                <h6>7777 Edinger Avenue, Huntington Beach, CA 92647</h6>
            </div>
        </div>
       
        <div class="row-content sub-section-header w-18">
            <h4>Uses</h4>
            <div class="para-section">
                <h6>Retail — Fashion/Specialty Center</h6>
            </div>
        </div>

        <div class="row-content sub-section-header no-width">
            <h4>Building Characteristics</h4>
            <div class="para-section">
                <p>Gross Size</p>
                <h6>688,255 SF</h6>
            </div>
            <div class="para-section">
                <p>Net Size</p>
                <h6>688,255 SF</h6>
            </div>
            <div class="para-section">
                <p>Net Size</p>
                <h6>688,255 SF</h6>
            </div>
            <div class="para-section">
                <p>No. Floors</p>
                <h6>99</h6>
            </div>
            <div class="para-section">
                <p>Building Complex?</p>
                <h6>No</h6>
            </div>
            <div class="para-section">
                <p>Elevator?</p>
                <h6>No</h6>
            </div>
            <div class="para-section">
                <p>Single Tenant?</p>
                <h6>Yes</h6>
            </div>
            <div class="para-section">
                <p>Year Built?</p>
                <h6>1967</h6>
            </div>
            <div class="para-section">
                <p>C.O.O Date</p>
                <h6>May 3, 2015</h6>
            </div>
            <div class="para-section">
                <p>Refurbished</p>
                <h6>2018</h6>
            </div>
        </div>

    </div>
</div>
