<div class="section-wrapper-container">
    <div class="section-heading">
        <h3>Entities</h3>
        <a href="#"><span class="k-icon k-font-icon k-i-email k-i-envelop k-i-letter"></span>Email Fund Ops</a>
    </div>
    <div class="action-button">
        <button kendoButton [svgIcon]="exportIcon" class="cr-default">Export</button>
        <button kendoButton [svgIcon]="tableIcon" class="cr-default"></button>
        <button kendoButton [svgIcon]="listOrderIcon" class="cr-default"></button>
    </div>
    <app-entity-card />
    <app-entity-card />
    <app-entity-card />
</div>

