<div class="card card--assets">
    <div class="container">
        <h4>Assets Onboarding Status</h4>
        <div class="grid-layout-container">
            <kendo-gridlayout [gap]="{ rows: 6, cols: '2%' }" [rows]="[
                { height: 135 }
              ]" [cols]="[{ width: '23%' }, { width: '23%' }, { width: '23%' }, { width: '23%' }]">
                <kendo-gridlayout-item [row]="1" [col]="1">
                    <div class="card-item">
                        <p>3</p>
                        <span>Deals Formally Presented</span>
                    </div>
                </kendo-gridlayout-item>
                <kendo-gridlayout-item [row]="1" [col]="2">
                    <div class="card-item">
                        <p>3</p>
                        <span>Properties Allocated</span>
                    </div>
                </kendo-gridlayout-item>
                <kendo-gridlayout-item [row]="1" [col]="3">
                    <div class="card-item">
                        <p>3</p>
                        <span>Property Ready for Review</span>
                    </div>
                </kendo-gridlayout-item>
                <kendo-gridlayout-item [row]="1" [col]="4">
                    <div class="card-item">
                        <p>3</p>
                        <span>Properties Closed this Quarter</span>
                    </div>
                </kendo-gridlayout-item>
            </kendo-gridlayout>
        </div>
    </div>
    
</div>